<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>InnoCentive Challenges Form</title>
  </head>
  <body>
     

  
    <form method="post" action="/">
        {% csrf_token %}
        
      <div class="container my-2">
        <h2>InnoCentive Challenges Form
        <a href="{% url 'show' %}" class="btn btn btn-primary">Show Challenges</a>
        </h2>
        <hr>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
          />
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="date&time">Deadline</label>
          <input
            type="date"
            class="form-control"
            name="timeStamp"
            id="timestamp"
          />
        </div>
        <div class="form-group">
          <label for="active_Solvers">Active Solvers</label>
          <input
            type="number"
            class="form-control"
            name="active_Solvers"
            id="active_Solvers"
          />
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input type="text" class="form-control" name="Tags" id="Tags" />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="numer" class="form-control" name="price" id="price" />
        </div>
         <div class="form-group">
            <label for="pic">Picture</label>
            <input type="file" name="pic" class="form-control-file" id="pic"/>
          </div>
        <div class="form-group">
          <label for="slug">Slug</label>
          <input type="text" class="form-control" name="slug" id="slug" />
        </div>
        <div class="form-group">
          <label for="contents">Contents</label>
          <textarea
            class="form-control"
            id="contents"
            name="contents"
            rows="3"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
